@media screen and (max-width: 770px){
    #page{
        display: block;
    }
    .wrapper{
        display: none;
    }
}
body{
    margin: 0;
    padding: 0;
    background: #f8f8f8;
}
.container{
	position: relative;
    height: 0;
}
/*天气*/
#weather{
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 0 6px 0 14px;
    height: 40px;
    line-height: 40px;
}
.container .icon-weather{
	background: url(../image/weather.png) no-repeat;
	width: 27px;
    height: 20px;
    position: absolute;
    top: 10px;
    float: left;
    display: inline-block;
}
.container .weather-num{
	font-size: 29px;
    color: #999;
    font-weight: 600;
    padding-left: 28px;
    float: left;
    display: inline-block;
}
.container .weather-status{
    width: 50px;
    height: 40px;
    float: left;
    position: absolute;
    top: 6px;
    left: 90px;
    display: inline-block;
}
.container .weather-status p{
	height: 14px;
    line-height: 14px;
    font-size: 10px;
    color: #999;
    width: 48px;
	margin:0;
}
#weather i{
	background: #f8f8f8;
	width: 6px;
	height: 6px;
	border-right: 1px solid #b6b7ba;
	border-bottom: 1px solid #b6b7ba;
	transform: rotate(45deg);
	position: absolute;
    top: 23px;
    left: 146px;
}
/*顶部右侧*/
header{
	float: right;
	position: relative;
    top: 10px;
}
header a{
	margin-right: 10px;
    float: left;
}
header a img{
	width: 25px;
	height: 20px;
	display: inline-block;
}
/*logo和搜索条*/
.logo{
	height: 57px;
    text-align: center;
    padding: 45px 0px 0 17px;
}
.logo img{
	width: 181px;
	height: 57px;
} 
#form{
    margin-top: 13px;
    margin-left: 1px;
    width: 95%;
    height: 45px;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 2px #ddd;
}   
.icon-user{
	position: absolute;
    right: 115px;
    top: 133px;
	cursor: pointer;
	z-index: 1;
	background: url(../image/paizhao2.png) no-repeat;
	width: 20px; 
	height: 20px; 
}

.icon-user:hover{
	background: url(../image/paizhao1.png) no-repeat;
}
.table{
    width: 100%;
}
#form input{
    border: 0;
    width: 100%;
    height: 42px;
    line-height: 28px;
}
#form input:hover{
	border-color: #3385ff;
}
#form button{
    position: absolute;
    top: 119px;
    right: 13px;
    width: 79px;
    height: 41px;
    background: #38f;
    color: #fff;
    white-space: nowrap;
    line-height: 45px;
    letter-spacing: -1px;
    font-size: 16px;
    border: 1px solid #38f;
    box-sizing: inherit;
}

/*菜单区*/
.mid{
    width: 100%;
    overflow: hidden;
    position: relative;
    top: 83px;
}
.menu{
    overflow: hidden;
    position: relative;
    height: 43px;
}
.mid-menu{
    float: left;
    width: 100%;
    position: relative;
    padding: 0 23px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.mid a{
     width: 28px;
    text-decoration: none;
}
.mid i{
    display: block;
    width: 22px;
    height: 22px;
    margin: 0 auto;
   background: url(../image/v2.png) no-repeat;
   background-size: 22px auto;
}
.mid .icon-1{
    background-position: 0 -418px;
}
.mid .icon-2{
    background-position: 0 -462px;
}
.mid .icon-3{
    background-position: 0 -308px;
}
.mid .icon-4{
    background-position: 0 -506px;
}
.mid .icon-5{
    background-position: 0 -286px;
}
.mid .icon-6{
    background-position: 0 -484px;
}
.mid .text{
    display: block;
    height: 13px;
    text-align: center;
    padding-top: 8px;
    font-size: 13px;
    line-height: 1;
    color: #666;
}
/*新闻区*/
.tab-news{
    text-align: left;
    background: #fff;
    position: relative;
    top: 108px;
}
.tab-news .news-item a{
    text-decoration: none;
    border-top: 1px solid #f0f0f0;
    padding: 15px 0;
    margin: 0 28px;
    display: block;
}
.tab-news .news-item h2{
    font-weight: normal;
    color: #333;
    font-size: 18px;
}
.tab-news .news-item .news-from{
    line-height: 12px;
}
.tab-news .news-item .news-from span{
    margin-right: 8px;
    font-size: 13px;
    color: #999;
    display: inline-block;
}
.tab-news .news-item .pic-content{
    margin-top: 8px;
    margin-bottom: 12px;
}
.tab-news .news-item .pic-content .img-wrap{
    display: inline-block;
    width: 33.105%;
    margin-left: -6px;
    height: 0;
    padding-top: 21.99%;
    position: relative;
    vertical-align: top;
}
.tab-news .news-item .pic-content .img-wrap img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 5px;
}
/*底部——上*/
#bottom .bottom-top{
    margin-top: 115px;
    margin-left: -15px;
}
#bottom .bottom-top li{
    height: 33px;
    line-height: 33px;
    text-align: left;
    list-style: none;
}
#bottom .bottom-top li a{
    display: block;
    padding-left: 21px;
    font-size: 13px;
    color: #555;
    background: url(../image/w_icon2.png) no-repeat left;
    background-size: 16px 16px;
    text-decoration: none;
}
/*底部——下*/
#foot{
    margin: 10px 28px 0;
}
#foot div{
    text-align: center;
}
#foot div .icon-feedback{
    position: absolute;
    top: 8px;
    left: 0;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../image/feedback.png) no-repeat;
    background-size: 100% 100%;
}
    
#foot div a {
    position: relative;
    display: inline-block;
    height: 34px;
    width: 95px;
    line-height: 34px;
    color: #666;
    font-size: 13px;
    text-decoration: none;
}
#index-copyright, .recordcode {
    display: block;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    padding: 6px 0 0;
    color: #999;
    text-decoration: none;
    text-align: center;
}
.recordcode {
    height: 12px;
    line-height: 12px;
    padding: 6px 0 20px;
}
.recordcode i{
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url(../image/icon_police.png) no-repeat;
    background-size: 100% 100%;
    margin-right: 5px;
    vertical-align: top;
}
    



