@media screen and (min-width: 770px){
	#page{
		display: none;
	}

}
body{
	margin: 0;
	padding: 0;
	font:12px arial;
	min-width: 1200px;
    height: 1000px;
    position: relative;
    background: url(../image/44.jpg);
}

.top{
	overflow: hidden;
	float: right;
}
.top ul{
	list-style: none;
	float: left;
	position: absolute;
	right: 10px;
	top: -6px;
	width: 500px;
	height: 23px;
}

.top ul a{
	margin-left: 23px;
	color: #fff;
	float: left;
	font-weight: bold;
	line-height: 24px;
	font-size: 13px;

}
.top ul a:hover{
	color: #00c;
}
/*更多产品*/
.top ul .more{
	position: absolute;
	right: -9px;
    top: -6px;
    width: 80px;
	height: 30px;
	float: left;
	color: #fff;
	background: #38f;
	line-height: 24px;
	font-size: 13px;
	overflow: hidden;
	border-bottom: 1px solid #38f;
}
.top ul .more a{
	margin-left: 14px;
    text-decoration: none;
    color: #fff;
    line-height: 30px;
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 2px;
}
.top ul .more a:hover .all{
	display: block;
}
.setting-menu{
	position: absolute;
	width:60px;
	top: -2px;
	height: 24px;
	right: 60px;
	text-align: center;
	font-size: 13px;

}
.setting-menu:hover .baidu-setting{
	display: block;
}
.top ul .setting-menu a{
	margin-left: 3px;
	margin-top: 2px;

}
.icon-trangle{
	position: absolute;
	top: -11px;
	left: 25px;
	width: 0;
	height: 0;
	display:block;
	border: 5px solid transparent;
	border-bottom-color: #d8d8d8;
}
.icon-trangle:after{
	content: "";
	position: absolute;
	top: -4px;
	left: -5px;
	width: 0;
	height: 0;
	display:block;
	border: 5px solid transparent;
	border-bottom-color: #fff;
}

.setting-menu .baidu-setting{
	position: absolute;
	top: 28px;
	left: -12px;
	width: 60px;
	border: 1px solid #ddd;
	box-shadow: 1px 1px 5px #ddd;
	display: none;
	background: #fff;
}
.setting-menu .baidu-setting a{
	color: #333;
	font-weight: normal;
	text-decoration: none;
}
.setting-menu .baidu-setting a:hover{
	color: #fff;
	background: #38f;
}
/*更多产品*/

.all{
	position: absolute;
	right: 0px;
	top: 0;
	width: 82px;
	height: 800px;
	border-left: 1px solid #ddd;
	background:#f9f9f9; 
	display: none;
}
.all ul{
	list-style: none;
	text-align: center;
	padding: 0 5px;
}
.all ul li{
	position: relative;
	height: 72px; 
	border-bottom:1px solid #ddd;
	text-align: center;
	margin-top: 10px;
}
.all a{
	color: #333;
	text-decoration:none;
}
.all a:hover{
	text-decoration: underline;
}
.all .all-m{
	height: 21px;
}
.all span{
	display: block;
	margin: 0 auto;
	width: 38px;
	height: 37px;
	margin-bottom: 6px;
	background: url(../image/icon.png) no-repeat;
}
.all .one{
	background-position:  -72px 0px;
}
.all .two{
	background-position:  -111px 0px;
}
.all .three{
	background-position:  -36px 0px;
}
.all .four{
	background-position:  -144px 0px;
}
.all .five{
	background-position:  -180px 0px;
}
.all .last{
	border: none;

}
/*滚动固定百度搜索*/
.fixArea-container{
	width: 100%;
	height: 74px;
	background: #fff;
	position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
.fixArea{
    padding: 100px; 
    text-align: center;
    position: absolute;
    top: -220px;
}
.fixArea .fix{
	position: absolute;
    width: 642px;
    left: 50%;

}
.fixArea img{
    position: absolute;
    left: 25%;
    top: 133px;
}
.fixArea span{
	position: relative;
    top: 138px;
    left: 240px;
}

.fixArea input{
    width: 539px; 
    height: 34px;  
    *line-height: 34px;  
    line-height: 34px\0; 
}
.fixArea input:hover{
	border-color: #3385ff;
}
.fixArea button{
    width: 100px; 
    height: 40px; 
    background: #3385ff; 
    border:none;
    color: #FFF; 
    font-size: 15px; 
    vertical-align: middle;
    position: absolute;
    top: 138px;
    right: -289px;
	cursor: pointer;
    *vertical-align: center;
    *position: absolute;
    *top: 139px;
    *left: 791px;
}

/*搜索区*/

.icon-user{
	position: absolute;
	right: -180px;
    top: 120px;
	cursor: pointer;
	z-index: 1;
	background: url(../image/paizhao2.png) no-repeat; 
	width: 20px; 
	height: 20px; 
}

.icon-user:hover{
	background: url(../image/paizhao1.png) no-repeat;
}

.searchArea{
    padding: 100px; 
    text-align: center;
    *padding: 100px; 
    *text-align: none;
}
.searchArea .search{
	position: absolute;
    width: 642px;

}
.searchArea img{
    width: 270px;
    height: 129px;
    position: absolute;
    left: 70%;
    top: -50%;
}
.searchArea span{
	position: relative;
    top: 110px;
    left: 240px;
}

.searchArea input{
    width: 539px; 
    height: 34px;  
}
.searchArea input:hover{
	border-color: #3385ff;
}
.searchArea button{
    width: 100px; 
    height: 40px; 
    background: #3385ff; 
    border:none;
    color: #FFF; 
    font-size: 15px; 
    vertical-align: middle;
    position: absolute;
    top: 110px;
    right: -289px;
	cursor: pointer;
    *vertical-align: center;
    *position: absolute;
    *top: 139px;
    *left: 791px;
}

/*推荐内容区*/
.commendArea{
    position: relative;
    top: 130px;
}
.commendArea .center{
	display: block;
    position: relative;
    margin: 0 auto;
    width: 895px;
}
.com-main{
	background: #fff;
	height: 405px;
	opacity: 0.9;
	position: relative;
}
/*推荐区导航*/
.com-menu{
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #e9e9e9;
	color: #333;
	font-size: 14px;

}
.com-menu .mine-icon{
	background: url(../image/card_setts.png) -15px 0 no-repeat;
    width: 20px;
    height: 18px;
    float: left;
    margin: 11px 6px;
    cursor: pointer;
}
.com-menu .com-menu-mine{
	width: 124px;
	height: 39px;
	float: left;
	line-height: 39px;
	padding-left: 13px;
    box-sizing: border-box;
    cursor: pointer;
}
.com-menu #com-menu-1,#com-menu-2,#com-menu-3,#com-menu-4{
	width: 80px;
	height: 39px;
	float: left;
	line-height: 39px;
	text-align: center;
	cursor: pointer;
}
.com-menu .com-menu-bg{
	background: rgba(154, 157, 162, 0.28);
    opacity: 0.7;
}
.com-menu .com-menu-setting{
	width: 50px;
	height: 39px;
	float: right;
	line-height: 39px;
	
}
.com-menu-setting .com-setting-icon{
	width: 18px;
    height: 18px;
    overflow: hidden;
    background: url(../image/card_setts.png) no-repeat -121px -49px;
    margin: 11px auto;
    cursor: pointer;
}
/*文本区*/
.com-tab-show{
	display: block;
}
.com-tab-hide{
	display: none;
}

.com-content-center{
    position: relative;
    width: 843px;
    padding: 0 25px 0 25px;
}
/*文本——提示*/
.com-content-tips{    
	width: 100%;
    height: 38px;
    text-align: left;
}
.tips-icon{
	display: inline-block;
	height: 14px;
    width: 12px;
    vertical-align: middle;
    background: url(../image/news.png) no-repeat -45px -1px; 
}
.com-content-tips .left-line,.center-text,.right-line{
    display: inline-block;
    color: #999;
}
.com-content-tips .left-line,.right-line{
    height: 0;
    width: 172px;
    font-size: 0;
    border-bottom: 1px solid #e2e2e2;
    margin-top: 21px;
}
/*文本——推荐右侧*/
.com-news{
	float: left;
    text-align: left;
    width: 538px;
}
.com-news .news-one{
	width: 100%;
	height: 145px;
	border-bottom: 1px solid #e2e2e2;
	margin: 10px 0;
}
.news-one .news-pic1{
	float: left;
	width: 179px;
}
.news-one .news-text{
	float: left;
	width: 358px;
	height: 160px;
	padding-top: 7px;
	padding-left: 30px;
    box-sizing: border-box; 
}
.news-one .news-text h2 a{
	color: #333;
	text-decoration: none;
	font-size: 18px;
    font-family:'微软雅黑';
}
.news-one .news-text h2 a:hover{
	color: #07f;
	text-decoration: underline;
}
.news-text .from{
	color: #999;
}
.news-text .from span{
	margin-right:10px;
}
.news-text .from a{
	color: #999;
	text-decoration: none;
}
.news-text .from .hot-point{
	color: #f13f40;
    border: 1px solid #efb9b9;
    font-size: 12px;
    line-height: 12px;
    padding: 0 2px;
    border-radius: 3px;
}
/*第二条新闻*/
.news-one .news-text2{
	float: left;
	width: 100%;
	height: 160px;
	padding-top: 24px;
    padding-left: 0px;
    box-sizing: border-box; 
}
/*文本——推荐左侧*/
.com-left{
	width: 300px;
	height: 400px;
	float: right;
    margin-top: -21px;
	box-sizing: border-box;
	position: absolute;
    left: 63%;
}
.com-rank-title .title-text{
    float: left;
    font-size: 14px;
    font-weight: bold;
}
.com-rank-title .title-text a{
	color: #333;
	text-decoration: none;
}
.com-rank-title .refresh{
    display: block;
    float: right;
    height: 22px;
    cursor: pointer;
    font-size: 13px;
}
.com-rank-title .refresh:hover .refresh-text{
	color: #07f;
}
.com-rank-title .refresh .refresh-icon{
	width: 20px;
    height: 16px;
    background: url(../image/news.png) -23px -25px no-repeat;
    vertical-align: bottom;
    display: inline-block;
}
.com-rank-title .refresh:hover .refresh-icon{
	background-position: -23px -42px;
}
.com-left .news-list{
	list-style: none;
	float: right;
	font-size: 14px;
	padding: 0;
}
.com-left .news-list li{
	float: left;   
    text-align: center;
    margin-top: 15px;
    width: 150px;
    display: inline-block;
}
.com-left .news-list li a{
	color: #333;
	text-decoration: none;
}
.com-left .news-list .list-icon{
	display: inline-block;
    width: 18px;
    height: 18px;
    background: url(../image/news.png) -57px -98px no-repeat;
}
.com-left .news-list .list-item2{
	margin-left: -11px;
	margin-right: 11px;
}
/*导航栏*/
.nav-top-wrap{
	width: 100%;
	height: 32px;
	position: relative;
	background: #333;
	opacity: 0.4;
	float: left;
}
.nav-top-menu{
	float: left;
	color: #fff;
	position: absolute;
    left: 0;
    top: 0;
    z-index: 4;
    height: 32px;
    padding-right: 15px;
}
.nav-top-menu-left-wrapper,.nav-top-menu-left{
	float: left;
	position: relative;
    top: 4px;
    left: 10px;
}
.nav-top-menu-right-wrapper,.nav-top-menu-right{
	float: left;
	position: relative;
    top: 4px;
    left: 14px;
}
.nav-top-menu-left .show-icon .weather-icon{
	width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    background:url(../image/a7.png);
}
    
.nav-top-menu .nav-top-menu-left a{
	color: #fff;
	font-size: 12px;
	text-decoration: none;
}
.nav-top-menu .nav-top-menu-left span{
	margin-right: 6px;
}
.nav-top-menu .nav-top-menu-right a{
	color: #fff;
	font-size: 12px;
	margin-right: 15px;
}
.nav-top-menu-left,.nav-top-menu-right,.show-pollution{
	display: inline-block;
	height: 20px;
}
.show-pollution .show-polution-name{
	font-weight: bold;
	color: #38f;
}
/*导航*/
.com-tab2-center{
	position: relative;
    width: 843px;
    padding: 0 25px 0 25px;
}
.com-tab2-center .com-tab2-content{
	width: 100%;
}
.com-tab2-center .com-tab2-content h1{
	margin: 25px 0 4px;
    padding: 0;
    font-size: 20px;
    text-align: left;
}
.com-tab2-center .com-tab2-content ul{
	list-style: none;
	position: relative;
	padding: 0;
}
.com-tab2-center .com-tab2-content ul li{
	display: inline-block;
    float: left;
    margin-right: 15px;
    margin-top: 15px;
    position: relative;
    background: #fff;
}
.com-tab2-center .com-tab2-content ul li:last-child{
	margin-right: 0px;
}
.com-tab2-center .com-tab2-content ul li a{
	width: 128px;
	height: 60px;
	background: #fbf2f2;;
	text-decoration: none;
	color: #333;
	font-size: 14px;
	text-align: center;
	display: block;
}
.com-tab2-center .com-tab2-content .title,.title1,.title2{
	line-height: 60px;
}
.com-tab2-center .com-tab2-content .fanli-tag{ 
    position: absolute;
    top: 0;
    right: 0;
    width: 16px;
    height: 16px;
    overflow: hidden;
    background: url(../image/fanli_40794035.png) repeat 0 0;
    display: block;
}
.com-tab2-center .com-tab2-content .fanli-tag a{
	display: inline-block;
    height: 16px;
    width: 16px;
    background: none;
}
.com-tab2-center .com-tab2-content ul li .rebate,.rebate1 {
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    bottom: 0;
    font-size: 12px;
    text-align: center;
    height: 18px;
    line-height: 18px;
}
.com-tab2-center .com-tab2-content ul li .rebate a{
	color: #fff;
    background: #ff8300;
    height: 18px;
}
.com-tab2-center .com-tab2-content ul li .rebate a:hover{
	text-decoration: underline;
    background: #ff6300;  
}

.com-tab2-center .com-tab2-content ul li .rebate1 a{
	color: #fff;
    background: #ff8300;
    height: 18px;
}
.com-tab2-center .com-tab2-content ul li .rebate1 a:hover{
	text-decoration: underline;
    background: #ff6300;  
}
/*换肤二级*/
.change-skin{
	position: fixed
;	width: 100%;
	background: #fff;
	z-index: 4;
}
.change-skin-container{
	width: 100%;
    height: 218px;
    position: absolute;
    background: #fff;
    z-index: 10;
}
.change-skin-content{
	margin: 15px auto;
    width: 895px;
}
.change-skin-content h2{
	color: #333;
	font-weight: 400;
}
.change-skin-content .no-skin{
	display: inline-block;
    color: #333;
    font-size: 15px;
    font-weight: 600;
    float: right;
    position: absolute;
    left: 73%;
    top: 20px;
    cursor: pointer;
}
.change-skin-content .close{
	display: inline-block;
    color: #0079f5;
    font-size: 15px;
    float: right;
    position: absolute;
    left: 81%;
    top: 20px;
    cursor: pointer;
}
.change-skin-content .line{
	width: 895px;
	border:1px solid #c3c7ca;
}
.change-skin-content img{
  	width: 200px;
	height: 150px;
	cursor: pointer;
	margin: 8px 10px 10px 0;
}

/*回到顶部*/
.top-feed {
    position: fixed;
    left: 51%;
    top: 70%;
    margin-left: 444px;
    display: none;
}
.to-top{
    background-image: linear-gradient(rgba(0,0,0,0.3) 0, rgba(0,0,0,0.3) 100%);
    width: 38px;
    height: 38px;
    cursor: pointer;
}
.top-feed .icon-mask {
    height: 40px;
    width: 40px;
    line-height: 40px;
    border: 0;
    color: #fff;
}
.icon-mask .text {
    position: absolute;
    top: 3px;
    left: 6px;
    line-height: 16px;
    width: 32px;
    display: none;
}
.top-feed .to-top span {
    display: block;
    height: 17px;
    width: 33px;
    margin: -28px auto;
    background: url(../image/top.png) no-repeat -39px -9px;
}
/*我的关注*/
#com-tab5{
    display: none;
}
#com-tab2{
    display: none;
}
#com-tab3{
    display: none;
}
#com-tab4{
    display: none;
}
.title-content {
    height: 100%;
    line-height: 30px;
    cursor: pointer;
    margin-top: 20px;
}
.title-content .mine-title .mine-title-icon {
    position: relative;
    z-index: 0;
    font-size: 0;
    height: 10px;
    width: 10px;
    margin-right: 6px;
    display: inline-block;
}
.title-content .mine-title .mine-title-icon em {
    top: 3px;
    left: 3px;
    border-top: 8px dashed transparent;
    border-left: 8px solid #666;
    transform: rotate(225deg);
    position: absolute;
    font-style: normal;

}
.title-content .mine-title .mine-title-text {
    line-height: 30px;
    height: 30px;
    font-weight: bold;
    margin-right: 4px;
    display: inline-block;
    font-size: 14px;
}
.title-content .mine-title .mine-title-num {
    height: 30px;
    color: #666;
    display: inline-block;
    font-size: 14px;
}

.s-setbar {
    position: absolute;
    top: 0;
    right: 35px;
    height: 30px;
    line-height: 30px;
    z-index: 2;
    font-size: 13px;
    display: none;
}

.set-menu{
	display: inline-block;
	width: 100%;
	text-align: right;
}
.s-setbar .set-btn {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    width: 30px;
    margin-left: 16px;
}
.set-menu .set-edit,.set-add{
    padding-top: 2px;
}
.s-setbar .edit-class,.s-setbar .fanli-class{
    width: 83px;
    height: 30px;
    line-height: 30px;
}
.s-setbar .class-icon{
	display: inline-block;
    zoom: 1;
    vertical-align: middle;
    height: 14px;
    width: 14px;
    margin-right: 7px;
    font-size: 0;
    background: url(../image/gou.png) no-repeat;
    background-position: -50px -13px;
}

.free-content {
    height: 100%;
    line-height: 30px;
    cursor: pointer;
    margin-top: 20px;
}
.free-content .free-title .free-icon{
    height: 12px;
    width: 12px;
    font-size: 0;
    background: url(../image/gou.png) no-repeat;
    margin-left: 3px;
    display: inline-block;
}
.free-content .free-title .free-text {
    line-height: 30px;
    height: 30px;
    margin-right: 4px;
    display: inline-block;
    font-size: 14px;
    margin-left: 3px;
}
/*视频介绍*/
.tv{
	margin-top:25px;
}
.tv1{
	width: 195px;
    height: 270px;
    float: left;
}
.mask{
	position: absolute;
    height: 40px;
    width: 195px;
    top: 229px;
    z-index: 2;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0,rgba(0,0,0,0.5) 100%);
    cursor: pointer;
    overflow: hidden;
}
.num{
    font-size: 13px;
    color: #fff;
    position: absolute;
    left: 75%;
    top: 44%;
}

.num3{
    left: 68%;
    top: 80px;
    z-index: 3;
}
.num4{
    left: 92%;
    top: 80px;
    z-index: 3;
}
.num5{
    left: 68%;
    top: 250px;
    z-index: 3;
}
.num6{
    left: 92%;
    top: 250px;
    z-index: 3;
}
.tag{
	position: absolute;
    top: 0;
    left: 178px;
    height: 42px;
    width: 42px;
    cursor: pointer;
    z-index: 3;
    background: url(../image/video_tag.png) no-repeat;
    background-position: -84px 0;
}
.tag2{
	left: 392px;
	background-position: -127px 0;
}
.mask1{
	left: 26px;
    top: 230px;
}
.mask3,.mask4{
	top: 60px;
}
    
.tv2{
	width: 195px;
    height: 270px;
    float: left;
    margin-left: 20px;
}
.tv3{
	width: 195px;
    height: 100px;
    float: left;
    margin-left: 20px;
}
.tv4{
	width: 195px;
    height: 100px;
    float: left;
    margin-left: 20px;
}
.tv5{
	width: 195px;
    height: 100px;
    float: left;
    margin-left: 20px;
    margin-top: 70px;
}
.tv6{
	width: 195px;
    height: 100px;
    float: left;
    margin-left: 20px;
    margin-top: 70px;
}
.tv-text{
	margin-top: 8px;
}
.tv-text a{
	font-size: 14px;
	text-decoration: none;
	color: #333;
}
.tv-text a:hover{
	text-decoration: underline;
	color: #38f;
}
.tv-text .tv-title{
	margin-bottom: 4px;
	padding-left: 10px;
}
.tv-text .tv-score{
	padding-left: 10px;
}
.tv-score .score-star {
    display: inline-block;
    background-repeat: repeat-x;
    height: 13px;
    width: 65px;
    background-image: url(../image/star.png);
    vertical-align: middle;
    margin-bottom: 4px;
    position: relative;
    margin-right: 5px;
}
.tv-score .score-star .score-active {
    display: inline-block;
    position: absolute;
    top: 0;
    height: 13px;
    width: 26.65px;
    background-image: url(../image/star.png);
    background-repeat: repeat-x;
    background-position: 0 -13px;
    vertical-align: middle;
    margin-bottom: 4px;
}